@use "../base/abstracts" as *;

body {
	background-color: var(--bg-body);
	background: url("/images/bg-top.svg") no-repeat, url("/images/bg-bottom.svg") no-repeat;
	background-position: top rem(-25) right rem(-190), bottom rem(-320) left 0;
	font-family: var(--ff-primary);
	font-weight: var(--fw-bold);
	font-size: var(--15px);
	color: var(--text-primary);
	padding: rem(64) 0 rem(70);
}

header {
	width: max-content;
	margin: 0 auto;
	text-align: center;
	margin-bottom: rem(80);
}

.container {
	width: 100%;
}

main {
	flex-shrink: 0;
}

h1 {
	margin-bottom: rem(40);
	font-size: var(--32px);
}

footer {
	margin-top: rem(36);
	text-align: center;
}